tests/__pycache__/test_regExample.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_poker.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_ejemploExcepciones.cpython-312-pytest-8.1.1.pyc
Reg/__pycache__/regExample.cpython-312.pyc
__pycache__/test_poker.cpython-312-pytest-8.1.1.pyc
__pycache__/poker.cpython-312.pyc
__pycache__/ejemploExcepciones.cpython-312.pyc
